body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(177, 164, 164);
}
myH1{
    font-size: 4rem;
    font-family: "Arial";
    color: hsl(0%,0%,25%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid;
    border-radius: 30px;
    background-color: white;
}
#display{
font-size: 5rem;
font-family: monospace;
font-weight: bold;
color: hsl(0%,0%,30%);
text-shadow: 2px 2px 2px black;
margin-bottom: 25px;

}
#Controls button{
    font-size: 3rem;
    font-weight: bold;
    padding:10px 20px;
    margin: 5px;
    min-width: 125px;
    border:none;
    border-radius: 10px;
    color: white;;

}
#startBtn{
    background-color: green;

}
#startBtn:hover{
    background-color: black;
}
#endBtn{
    background-color: rgb(229, 22, 22);

}
#endBtn:hover{
    background-color: black;
}
#resetBtn{
    background-color: rgb(34, 62, 152);

}
#resetBtn:hover{
    background-color: black;
}